.section {
  margin: 10px 20px 10px 20px;

  display: flex;
  flex-direction: column;

  
  
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 10px;
}
.title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
}

.eyeBtn {
  margin-right: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}
.volumeHeader {
  display: flex;
  margin-left: 16px;
  gap: 24px;
  font-weight: 700;
  font-size: 18px;
}
.items {
}
.itemRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 0 10px;
}
.itemPrices {
  display: flex;
  gap: 24px;
  span{
    min-width: 21px;
    text-align: center;
  }
} 
.dragHandle {
  cursor: grab;
  margin-right: 12px;
  font-size: 18px;
  color: #b3c6f7;
  user-select: none;
}
.dragHandle:active {
  cursor: grabbing;
} 

.price{
  width: 26px;
}