.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hiddenInput {
  display: none;
}

.uploadButton {
  background: #333333;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  font-family: inherit;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 8px rgba(96,165,250,0.10);
  letter-spacing: 1px;
}
.uploadButton:hover {
  background: #1746d3;
  color: #fff;
}

.previewImg {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 0;
  border: 1px solid rgba(0, 255, 0, 0.3);
  background: #000;
  margin-top: 8px;
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.2);
  transition: all 0.3s;
}

.previewImg:hover {
  border-color: #00ff00;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.4);
}

.error {
  color: #ff0000;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 0 3px #ff0000;
  text-align: center;
  border-radius: 8px;
 
} 